/* generic */
*{
    box-sizing: border-box;
    margin:0;
}




/* utility */

.container{
    background-color: white;
    line-height: 50px;
    max-width: 60%;
    margin: 0 auto 3px; 
    border-radius: 5px;
    padding-left: 40px;    
}

.color-dogerblue{
    background-color: dodgerblue;
}






/* content header */

header{
    line-height: 70px;
    margin-bottom: 20px;      
}


h1{
    display: inline-block;
    margin: 0;
}


img, h1{
    vertical-align: middle;
    margin: 0 5px 0 20px;    
}


/* content main */

main{
    background-color: grey;
    padding-top: 30px;
    
}


button{
    padding:5px;
    border-radius: 5px;
}









