/* generic */
*{
    box-sizing: border-box;
    margin:0;
}








/* utility */


/* content header */

header{
    line-height: 70px;      
}


img, h1{
    vertical-align: middle;
    margin: 0 5px 0 20px;    
}


h1{
    display: inline-block;
    margin: 0;
}



