/* generic */
*{
    box-sizing: border-box;
    margin:0;
}




/* utility */

.container{
    background-color: white;
    line-height: 30px;
    max-width: 75%;
    margin: 3px auto ; 
    border-radius: 5px;
    padding-left: 40px;
    
    
}


.dogeblue{
    background-color: dodgerblue;
}

.goals{
    background-color: darkviolet;
}

.recruting{
    background-color: green;
}

.mobile{
    background-color: orangered;

}

.website{
    background-color: pink;
}


.sales{
    background-color: lime;
}


.grey{
    color:grey;
}


.lable{
    border: 1px solid;
    border-radius: 15px;
    padding: 5px 10px;
    font-size: x-small;
    color: white;
}


.item-list{
    line-height: 2rem;
    
    
}



/* content header */

header{
    line-height: 70px;      
}


h1, h2{
    display: inline-block;
    
}

h2{
    margin-top: 30px;
}

img, h1{
    vertical-align: middle;
    margin: 0 5px 0 20px;    
}


/* content main */

main{
    height: 650px;
    background-color: lightgrey;
    padding-top:30px;
    
    
}


button{
    margin: 10px 0;
    padding: 5px;
    border-radius: 5px; 
    background-color:white;
    color: white;
}



.border{
    
    font-weight: bold;
    border-radius: 50%;
    border: 1px solid;
    padding: 0 2.5px;
      
}

.flag{
    color: green;
    border-color: green;
}

.cross{
    color: red;
    border-color: red;
}


.second{
    padding-bottom: 40px;
}